@font-face {
    font-family: "flaticon";
    src: url("flaticon_025530a270ff13f1d15dd779e95445a8.ttf") format("truetype"),
url("flaticon_025530a270ff13f1d15dd779e95445a8.woff") format("woff"),
url("flaticon_025530a270ff13f1d15dd779e95445a8.woff2") format("woff2"),
url("flaticon_025530a270ff13f1d15dd779e95445a8.eot#iefix") format("embedded-opentype"),
url("flaticon_025530a270ff13f1d15dd779e95445a8.svg#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-videocall:before {
    content: "\f101";
}
.flaticon-digital:before {
    content: "\f102";
}
.flaticon-crown:before {
    content: "\f103";
}
.flaticon-graphic-design:before {
    content: "\f104";
}
.flaticon-play:before {
    content: "\f105";
}
